<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke" parallel="classes">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="TestNG_XML_Practice.TestNG_XML"/>
      <class name="TestNG_XML_Practice.TestNG_XML1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Smoke -->
